nav {
  background-color: #4056A1;
  height: 120px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
  padding: 1.5em;
}

nav .logo {
 font-family: 'Bungee', cursive;
}

nav .arrow {
  display: block;
  text-align: center;
  color: red;
  margin-top: 5px;
  cursor: pointer;
  animation: moveUpDown 0.55s infinite;
}


@keyframes moveUpDown {
 0%   {transform: translate(0, 5px)};
 100% {transform: translate(5px, 0)};
}