.new-tweet {
  margin: 3em 0;
  display: none;
}
.new-tweet .tweet-text {
  width: 100%;
  height: 60px;
  outline: none;
  border: none;
  background: none;
  resize: none;
  font-weight: bold;
  border-spacing: 1px;
  border-bottom: 5px solid #545149; 
}

.new-tweet .tweet-text:focus {
  color: #545149;
}

.new-tweet .tweet-button {
  margin-top: 1em;
  padding: 5px 10px;
  font-family: 'Bungee', cursive;
  background-color: #4056A1;
  border: 0;
  text-align: center;
  color: white;
  cursor: pointer;
}

.new-tweet .counter {
  margin-top: 1em;
  position: relative;
  float: right;
  font-family: 'Bungee', cursive;
}

.new-tweet .overMax {
  color: red;
}

.new-tweet .error {
  padding: 0.5em;
  border: 2px solid red;
  color: red;
  font-size: 30px;
  display: none;
}
