@media only screen and (min-width: 1024px) {
  body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
  
  .main-header {
    padding-top: 2em;
    margin: 160px 15%;
    width: inherit;
    height: 450px;
  }
  
  .tweet {
    max-width: 950px;
  }

  .container {
    grid-area: 1/2/2/3;
    margin: 120px 0 30px;
    height: 100%;
  }
}
